@import "tailwindcss";
@import "tailwindcss-primeui";  

@layer utilities {

    .hover-effect-7 {
        position: relative;
        display: inline-block;
        overflow: hidden;
        padding: 0.5rem 0;
    }

    .hover-effect-7::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: #434343;
        transform: translateX(-105%);
        transition: transform 0.5s ease-in-out;
    }

    .hover-effect-7::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 2px;
        width: 100%;
        background-color: #434343;
        transform: translateX(105%);
        transition: transform 0.5s ease-in-out;
    }

    .hover-effect-7:hover::after,
    .hover-effect-7:hover::before {
        transform: translateX(0);
    }
}